@import '../../../../shared/_vars.scss';

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #282828;
  color: #b8b8a2;
}

.link {
  text-decoration: none;
  color: $color;
}
