@import '../../../shared/_vars.scss';

.nav {
  width: 50%;
}

.list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  li {
    margin-right: 10px;
  }
}

.logo {
  list-style: none;

  a {
    display: flex;
    align-items: center;
  }

  img {
    width: 130px;
  }

  :hover {
    filter: brightness(150%);
    transition: all 0.2s;
  }
}

.item {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;

  @media (max-width: 1024px) {
    display: none;
  }

  a {
    text-decoration: none;
    color: #aaaaab;
  }

  :hover {
    color: $yellow;
    transition: all 0.2s;
  }
}
